<div>
    <div>
      <h2>Current Itineraries (<%= @itineraries.count %>)</h2>
    </div>

    <div class="d-flex flex-row">
      <p>Create a new itinerary</p>
      <%= link_to "Create", new_itinerary_path, class: 'btn btn-primary'%>
    </div>

    <div>
      <p>Click on an itinerary to view more details</p>
      <% @itineraries.each do |itinerary| %>
      <div class="card-detail d-flex justify-content-between">
        <h2><%= itinerary.title %></h2>
          <ul><%= itinerary.description %></ul>
          <ul><%= itinerary.start_date.strftime("%d %b %Y") %></ul>
          <ul><%= itinerary.end_date.strftime("%d %b %Y") %></ul>
          <ul><%= link_to "VIEW", itinerary_path(itinerary), class: 'btn btn-primary'%></ul>
        <div data-itinerary-id="<%= itinerary.id %>" class="itinerary-heart-icon">
          <%= render 'heart', itinerary: itinerary %>
        </div>
      </div>
    <% end %>
    </div>
</div>

