<div>
  <div>
    <h2>Current Itineraries (<%= @itineraries.count %>)</h2>
    <p>Click on an itinerary to view more details</p>
  </div>
  <div>
    <% @itineraries.each do |itinerary| %>
      <div class="card-detail d-flex">
        <div><%= itinerary.title %></div>
        <div><%= itinerary.description %></div>
        <div><%= itinerary.start_date.strftime("%d %b %Y") %></div>
        <div><%= itinerary.end_date.strftime("%d %b %Y") %></div>
        <div data-itinerary-id="<%= itinerary.id %>" class="itinerary-heart-icon">
          <%= render 'heart', itinerary: itinerary %>
        </div>
        <div><%= link_to "VIEW", itinerary_path(itinerary), class: 'btn btn-primary'%></div>
      </div>
    <% end %>
  </div>
</div>

