<div class="search__box">
  <h4>Search for Travel Plans</h4>
  <%= render 'shared/search' %>
</div>

<h4>Most Favourited</h4>

<div class="events__upcoming">
  <div class="card__grid">
      <% @itineraries.each do |itinerary| %>
        <div class="card map-card" style="width: 24rem;">
          <div>
            <%= render "shared/mapstatic" %>
          </div>
          <div class="card-body px-4 pb-4 pt-0">
            <div id="travel-plan-card-title" class="card-title d-flex justify-content-between">
              <div>30 day plan FIX ME!</div>
                <div data-itinerary-id="<%= itinerary.id %>" class="itinerary-heart-icon">
                  400 <%= render 'heart', itinerary: itinerary %>
              </div>
            </div>
            <h4 class="card-title">
              <%= itinerary.title %>
            </h4>
            <span class="tag-outline">Scuba diving</span>
            <span class="tag-outline">Shark</span>
            <span class="tag-outline">Amazing</span>
            <span class="tag-outline">Scuba diving</span>
            <span class="tag-outline">Shark</span>
            <span class="tag-outline">Amazing</span>
          </div>
          <%= link_to "", itinerary_path(itinerary), class: "make-card-clickable" %>
        </div>
    <% end %>
  </div>
</div>

<h4>Latest</h4>

<div class="events__upcoming">
  <div class="card__grid">
      <% @itineraries.each do |itinerary| %>
        <div class="card map-card" style="width: 24rem;">
          <div>
            <%= render "shared/mapstatic" %>
          </div>
          <div class="card-body px-4 pb-4 pt-0">
            <div id="travel-plan-card-title" class="card-title d-flex justify-content-between">
              <div>30 day plan FIX ME!</div>
                <div data-itinerary-id="<%= itinerary.id %>" class="itinerary-heart-icon">
                  400 <%= render 'heart', itinerary: itinerary %>
              </div>
            </div>
            <h4 class="card-title">
              <%= itinerary.title %>
            </h4>
            <span class="tag-outline">Scuba diving</span>
            <span class="tag-outline">Shark</span>
            <span class="tag-outline">Amazing</span>
            <span class="tag-outline">Scuba diving</span>
            <span class="tag-outline">Shark</span>
            <span class="tag-outline">Amazing</span>
          </div>
          <%= link_to "", itinerary_path(itinerary), class: "make-card-clickable" %>
        </div>
    <% end %>
  </div>
</div>


