<div class="map">
  <%= render 'shared/map' %>
</div>

<div class="travel-plan-banner mb-5">
  <div class="small-page-container travel-plan-banner-container ">
    <div class="breadcrumb">
      <%= link_to user_itineraries_itineraries_path(@user) do %>
        <i class="fas fa-angle-left"></i>
        Back
      <% end %>
    </div>
    <div class="d-flex justify-content-between">
      <div class="itinerary-info">
        <div class="mb-3">
          <% if current_user == @itinerary&.user %>
          <%= link_to "Edit travel plan", edit_itinerary_path(@itinerary), class: "btn btn-outlined" %>
          <% end %>
        </div>
        <h1><%= @itinerary.title %></h1>
        <p><%= pluralize(@itinerary.total_time, "day") %> plan </p>
        <p><%= @itinerary.description %></p>
        <% if @itinerary.user.tags.present? %>
          <% @itinerary.user.tags.each do |tag| %>
            <span class="tag-outline"><%= tag.tag_name %></span>
          <% end %>
        <% end %>
      </div>
      <div>
        <div>
          <%= render @user %>
          <%= render "shared/components/userinfo_block" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-page-container">
  <div>
    <div class="add-event mb-5">
      <% if current_user == @itinerary.user %>
        <%= render "shared/components/button", variant: "outlined", label: "Add new event", href: new_itinerary_event_path(@itinerary) %>
      <% end %>
    </div>
      <% if @itinerary.events.count == 0 %>
        <div class="empty-state pt-5 pb-5 mt-5 mb-5">
          <p><strong>You have 0 travel plans</strong></p>
        </div>
      <% else %>
      <% @itinerary.events.group_by { |e| e[:start_date] }.each do |eventgroup| %>
        <div class="data-table-grouped">
          <div class="data-table-date-header">
            <h5><%= eventgroup[0].strftime("%d %b %Y") %></h5>
          </div>
          <% eventgroup[1].each do |event| %>
            <div class="data-table">
              <div class="data-rows">
                <div class="data-content-cell-growable"><%= event.title %></div>
                <div class="data-content-cell-small"><%= event.start_date.strftime("%l:%M %P") %></div>
                <div class="data-content-cell-small"><%= event.location.city %></div>
                <%= render "shared/components/event_status_pill", event: event %>
                <%= link_to "", itinerary_event_path(@itinerary, event), class: 'make-card-clickable'%>
              </div>
          <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="page-bottom-spacer"></div>


