<div>
  <div>
    <p><%= link_to "back to itineraries", itineraries_path, class: 'btn btn-primary'%></p>
  </div>
  <div class="d-flex flex-column">
    <h2><strong><%= @itinerary.title %></strong></h2>
      <p>Details: <%= @itinerary.description %></p>
        <p>Dates:
        <%= @itinerary.start_date.strftime("%d %b %Y") %> to
        <%= @itinerary.end_date.strftime("%d %b %Y") %>
        </p>
      <div>
        <div>
          <%= render @user %>
        </div>
      </div>
    </div>
  <div>
      <h2><strong>Events</strong></h2>
      <%= link_to "Add an event", new_itinerary_event_path(@itinerary), class: 'btn btn-primary'%>
    <% @itinerary.events.each do |event| %>
      <div class="d-flex flex-column">
        <div><p><strong><%= event.title %></strong></p></div>
          <div>
            <p>Details: <%= event.description %></p>
              <p>Dates:
                <%= event.start_date.strftime("%d %b %Y") %> to
                <%= event.end_date.strftime("%d %b %Y") %>
              </p>
            <p>Maximum spots: <%= event.max_spots %></p>
            <%= link_to "VIEW", itinerary_event_path(event.itinerary, event), class: 'btn btn-primary'%>
          </div>
      </div>
    <% end %>
  </div>
</div>

