<div>
  <%= render "shared/components/button", variant: "filled", label: "+ Make a Travel Plan", href: new_itinerary_path %>
</div>


<div class="map">
  <%= render 'shared/map' %>
</div>

<div class="breadcrumb">
  <%= link_to itineraries_path do %>
    <i class="fas fa-angle-left"></i>
    Back
  <% end %>
</div>

<div class="container">
  <div class="d-flex row justify-content-between">
    <div class="about">
      <h3><%= @itinerary.title %></h3>
      <p><%= @itinerary.end_date - @itinerary.start_date %> days | FIX ME</p>
      <p><%= @itinerary.description %></p>
      <span class="tag-outline">Scuba diving</span>
      <span class="tag-outline">Shark</span>
      <span class="tag-outline">Amazing</span>
      <span class="tag-outline">Scuba diving</span>
      <span class="tag-outline">Shark</span>
      <span class="tag-outline">Amazing</span>
    </div>
    <div>
      <div>
        <%= render @user %>
        <%= render "shared/components/userinfo_block" %>
      </div>
    </div>
  </div>
</div>

<h4>Trip Timeline</h4>

<div>
  <%= render "shared/components/button", variant: "outlined", label: "Add an event", href: new_itinerary_event_path(@itinerary) %>
  <% @itinerary.events.each do |event| %>
    <div class="data-table-grouped">
      <div class="data-table-date-header">
        <h5>Tuesday, 3 June 2019 | FIX GROUP BY</h5>
      </div>
      <div class="data-table">
        <div class="data-rows">
          <div class="data-content-cell-growable"><%= event.title %></div>
          <div class="data-content-cell-small"><%= event.start_date.strftime("%l:%M %P") %></div>
          <div class="data-content-cell-small"><%= event.location.city %></div>
          <div class="data-content-cell-small badge badge-pill badge-dark d-flex align-items-center justify-content-center">Going alone</div>
          <%= link_to "", itinerary_event_path(@itinerary, event), class: 'make-card-clickable'%>
        </div>
        <div class="data-rows">
          <div class="data-content-cell-growable">Tennis at Rod Laver Arena with Patrick Rafter</div>
          <div class="data-content-cell-small">3pm</div>
          <div class="data-content-cell-small">Melbourne</div>
          <div class="data-content-cell-small badge badge-pill badge-awaiting-mates d-flex align-items-center justify-content-center">Awaiting mates</div>
          <a href="#who" class="make-card-clickable"></a>
        </div>
        <div class="data-rows">
          <div class="data-content-cell-growable">Climbing the Sydney Harbour Bridge</div>
          <div class="data-content-cell-small">6am</div>
          <div class="data-content-cell-small">Sydney</div>
          <div class="data-content-cell-small badge badge-pill badge-mates-joining d-flex align-items-center justify-content-center">Mates joining</div>
          <a href="#who" class="make-card-clickable"></a>
        </div>
        <div class="data-rows">
          <div class="data-content-cell-growable">Star casino here we come</div>
          <div class="data-content-cell-small">9pm</div>
          <div class="data-content-cell-small">Sydney</div>
          <div class="data-content-cell-small badge badge-pill badge-mates-joining d-flex align-items-center justify-content-center">Mates joining</div>
          <a href="#who" class="make-card-clickable"></a>
        </div>
      </div>
    </div>
  <% end %>
</div>


