<div>
  <div>
    <p>Placeholder for itinerary show (logged in user)</p>
    <p><%= link_to "back to itineraries", itineraries_path, class: 'btn btn-primary'%></p>
  </div>
  <div class="d-flex flex-column">
    <h2><%= @itinerary.title %></h2>
      <p>Details: <%= @itinerary.description %></p>
        <p>Dates:
        <%= @itinerary.start_date.strftime("%d %b %Y") %> to
        <%= @itinerary.end_date.strftime("%d %b %Y") %>
        </p>
  </div>
  <div>
    <% @itinerary.events.each do |event| %>
      <div class="d-flex flex-column">
        <div><p><strong><%= event.title %></strong></p></div>
          <div>
            <p>Details: <%= event.description %></p>
              <p>Dates:
                <%= event.start_date.strftime("%d %b %Y") %> to
                <%= event.end_date.strftime("%d %b %Y") %>
              </p>
            <p>Maximum spots: <%= event.max_spots %></p>
          </div>
      </div>
    <% end %>
  </div>
</div>

