<div class="page-container">
  <div class="main-title">
    <h1>Your travel plans</h1>
  </div>
  <div class="travel-planner d-flex">
    <div class="box-count">
      <!-- Upcoming Trip -->
      <h1><%= current_user.itineraries.count %></h1>
      <h6>Upcoming trips</h6>
    </div>
    <div class="box-count">
      <!-- Number of Drafts -->
      <h1><%= current_user.itineraries.count %></h1>
      <h6>Draft trip plan</h6>
    </div>
    <div class="box-count">
      <!-- Past Trips -->
      <h1><%= current_user.itineraries.count %></h1>
      <h6>Past trips</h6>
    </div>
  </div>


  <div class="data-table">
    <div class="data-header">
      <div class="data-header-cell-growable">Name</div>
      <div class="data-header-cell-growable">Description</div>
      <div class="data-header-cell">Travel dates</div>
      <div class="data-content-cell-small">Status</div>
    </div>
    <% current_user.itineraries.each do |itinerary| %>
      <div class="data-rows">
        <div class="data-content-cell-growable"><%= itinerary.title %></div>
        <div class="data-content-cell-growable"><%= itinerary.description %></div>
        <div class="data-content-cell">
          <%= itinerary.start_date.strftime("%d %b %Y")%> - <%= itinerary.end_date.strftime("%d %b %Y") %>
        </div>
        <div class="data-content-cell-small">Confirmed | FIX ME!</div>
        <%= link_to "", itinerary_path(itinerary), class: 'make-card-clickable'%>
      </div>
    <% end %>
  </div>
</div>
