<div class="search__box">
  <div class="search-banner justify-content-center">
    <!-- Search bar -->
    <div class="search-banner-text"><h1><strong>Find events to join<strong></h1></div>
    <div class="index-search">
      <%= form_tag(events_path, method: :get, placeholder: "Search events") do %>
        <%= text_field_tag :query %>
        <%= link_to request.path do %>
          <i class="far fa-times-circle"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Displays search results dynamically -->
<div class="container__body">
<% if @query %>
  <div>
    <h4>Search results</h4>

        <% if @events.any? %>
          <% @events[0..@events.count].each do |event| %>


          <% @events[0..@events.count].group_by { |e| e[:start_date] }.each do |eventgroup| %>
          <h6><%= eventgroup[0].strftime("%d %b %Y") %></h6>
            <% eventgroup[1].each do |event| %>
              <% if event.start_date >= Date.today %>
                <div class="card reminder-card-with-location d-flex">
                  <div class="reminder-text d-flex">
                    <div class="reminder-time pt-4 pl-4 pb-4">
                      <%= event.start_date.strftime("%l:%M %P") %>
                    </div>
                    <div class="reminder-details p-4">
                      <h5><%= event.title %></h5>
                      <div class="reminder-travel-plan"><p><%= event.itinerary.title %></p></div>
                      <div class="reminder-location d-flex">
                        <i class="fas fa-map-marker-alt pr-2 pt-1"></i>
                        <div class="reminder-address">
                          <p><%= event.location.city %>, <%= event.location.country %></p>
                        </div>
                      </div>
                    </div>
                    <div class="reminder-map">
                      <% if event.photo.present? %>
                        <%= cl_image_tag event.photo, class: "photo-card"%>
                      <% else %>
                        <%= render "shared/mapstatic" %>
                      <% end %>
                    </div>
                  </div>
                  <%= render 'shared/components/avatar_pill_expand', event: event %>
                  <%= link_to "", itinerary_path(event.itinerary), class: 'make-card-clickable'%>
                </div>
              <% end %>
            <% end %>
          <% end %>

      <% end %>
  <% else %>
    <div>
      <span>No results found</span>
    </div>
  <% end %>
  </div>
<% end %>
</div>
