<div class="search__box">
  <div class="search-banner justify-content-center">
    <!-- Search bar -->
    <div class="search-banner-text"><h1><strong>Check out travel plans<strong></h1></div>
    <div class="index-search">
      <%= form_tag(itineraries_path, method: :get, placeholder: "Search") do %>
        <%= text_field_tag :query %>
        <%#= submit_tag 'Search' %>
        <%= link_to request.path do %>
          <i class="far fa-times-circle"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Displays search results dynamically -->
<% if @query %>
  <div class="page-container-home">
    <h4>Search results</h4>
      <div class="card__grid">
        <% if @itineraries.any? %>
          <% @all_itineraries.most_popular_itineraries[3..@itineraries.count].each do |itinerary| %>
        <div class="card map-card">
          <div>
            <%= render "shared/itinerary_static_map", itinerary: itinerary[1]  %>
          </div>
          <div class="card-body px-4 pb-4 pt-0">
            <div id="travel-plan-card-title" class="card-title d-flex justify-content-between">
              <div><%= itinerary[1].total_time %> day plan</div>
                <div data-itinerary-id="<%= itinerary[1].id %>" class="itinerary-heart-icon">
                  400 <%= render 'itineraries/heart', itinerary: itinerary[1] %>
              </div>
            </div>
            <h6 class="card-title-itinerary">
              <%= itinerary[1].title %>
            </h6>
            <span class="tag-filled">Scuba diving</span>
            <span class="tag-filled">Shark</span>
            <span class="tag-filled">Amazing</span>
          </div>
          <%= link_to "", itinerary_path(itinerary[1]), class: "make-card-clickable" %>
        </div>
      <% end %>
  </div>
  <% else %>
    <div>
      <span>No results found</span>
    </div>
  <% end %>
  </div>
<% end %>




