<div class="main-title-width-reduced">
  <h1>Sign Up</h1>
  <p>Join the community of solo travellers and share experiences!</p>
</div>



<div class="form-container d-flex flex-column">
  <div>
    <ul class="stepper">
      <!-- FORM SECTION 1: BASIC EVENT DETAILS -->
      <li class="step step-connection-line">
        <div class="step-title">
          <h5>Welcome!</h5>
          <div class="step-number">
            1
          </div>
        </div>
        <div class="step-content step-content-active">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <!-- NAME -->
          <%= f.input :first_name,
                      label: "First Name",
                      required: true,
                      autofocus: true,
                      error: 'Please provide a first name.',
                      label_html: { class: "form-title" } %>
          <%= f.input :last_name,
                      label: "Last Name",
                      required: true,
                      autofocus: true,
                      error: 'Please provide a last name.',
                      label_html: { class: "form-title" } %>
          <div class="form-date-range">
            <%= f.input :date_of_birth,
                        required: true,
                        as: :date,
                        html5: true,
                        required: true, start_year: Date.today.year,
                        error: 'Date of Birth cannot be in the future.',
                        label_html: { class: "form-title" },
                        wrapper_html: { class: "form-title form-date-range-item" } %>
          </div>
          <%= f.input :avatar, as: :file,
                      label: "Select an image file as your profile picture",
                      label_html: { class: "form-title empty-state-container" }
                      %>
          <%= f.input :description,
                      label: "About Me",
                      placeholder: 'I like to...',
                      autofocus: true,
                      error: 'Please provide something about yourself',
                      label_html: { class: "form-title" } %>
          <div class="step-action">
            <%= render "shared/components/button", variant: "outlined", label: "Continue", href: "#" %>
          </div>
        </div>
      </li>
      <!-- FORM SECTION 2: EXTRA INFO -->
      <li class="step step-connection-line">
        <div class="step-title">
          <h5></h5>
          <div class="step-number">
            2
          </div>
        </div>
        <div class="step-content">

              <%= f.input :username,
                          required: true,
                          autofocus: true,
                          label_html: { class: "form-title" },
                          error: 'Please provide another username',
                          input_html: { autocomplete: "username" } %>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          label_html: { class: "form-title" },
                          error: 'Please provide an email',
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: true,
                          label_html: { class: "form-title" },
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          label_html: { class: "form-title" },
                          input_html: { autocomplete: "new-password" } %>


          <div class="step-action">
            <%= render "shared/components/button", variant: "outlined", label: "Continue", href: "#" %>
          </div>
        </div>
      </li>
      <!-- FORM SECTION 3: PHOTOS -->
        <div class="d-flex flex-row-reverse">
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-outlined" %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
        <% end %>
      </ul>
  </div>
</div>

