<div class="container d-flex flex-column align-items-center">
  <div class="user-description">
    <div>
      <%= simple_form_for(current_user) do |f| %>
        <div>
          <div class="d-flex justify-content-center">
            <% if current_user.avatar.blank? %>
              <div class="no-image-avatar-show d-flex align-items-center">
                <% if current_user.first_name.present? %>
                  <p><%= current_user.first_name[0].upcase %></p>
                <% else %>
                  <p>M</p>
                <% end %>
              </div>
            <% else %>
              <%= cl_image_tag(current_user.avatar, class: "avatar-xlarge") %>
            <% end %>
          </div>
            <%= f.input :avatar, label: "Click to upload a new profile image" %>
          <div class="d-flex flex-column">
            <div class="p-2">
              <p><strong>First Name</strong></p>
                <%= f.input :first_name, placeholder: current_user.first_name, label: false %>
            </div>
            <div class="d-flex flex-column">
              <div class="p-2">
                <p><strong>Last Name</strong></p>
                  <%= f.input :last_name, placeholder: current_user.last_name, label: false %>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="p-2">
              <p><strong>About me</strong></p>
                <p><%= f.input :description, as: :text, placeholder: current_user.description, label: false %></p>
            </div>
          <div class="p-2">
            <p><strong>Date of birth</strong></p>
              <%= f.input :date_of_birth, as: :string, placeholder: current_user.date_of_birth, label: false, wrapper_html: { class: "date-picker" } %>
          </div>
          <div class="p-2">
            <p><strong>Email address</strong></p>
              <p><%= f.input :email, placeholder: current_user.email, label: false %></p>
          </div>
                <!-- Select Tags as checkboxes -->
                <%#= f.association :interests,
                                  collection: Tag.all.map { |tag| [tag.tag_name ] },
                                  wrapper_html: { class: 'form-group' },
                                  as: :check_boxes, label: false %>
              <%#= f.association :interests, label_method: :interest, value_method: :id, include_blank: false %>
<!--           <div class="p-2">
            <p><strong>Password</strong></p>
            <p><#%= f.input :password, placeholder: current_user.password, label: false %></p>
          </div> -->
        </div>

    </div>
    <div>
      <%= f.submit "Submit Changes", class: "btn btn-outlined"%>
    </div>
    <% end %>
  </div>
    <%= link_to 'Edit Password', edit_user_registration_path, class: "btn btn-outlined" %>
</div>




