<ul class="nav flex-column bd-sidebar" id="sidebar">
<!-- TravelMates Logo -->

  <%= link_to root_path, class: "navbar-brand" do %>
    <span class="logo-start">travel</span>
    <span id="logo-end">mates</span>
  <% end %>

  <!-- Avatar & Welcome -->
  <div class="sidebar-welcome d-flex align-items-center">
    <% if user_signed_in? && current_user.avatar.present? %>
      <div>
        <%= image_tag current_user.avatar, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", user_path(current_user.id), class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
      <div>
        <span id="navbar__welcome">WELCOME BACK, </span>
        <p id="sidebar__name"><%= current_user.first_name.downcase.capitalize %></p>
      </div>
    <% elsif user_signed_in? && current_user.avatar.nil? %>
      <div>
        <div class="no-image-avatar d-flex align-items-center justify-content-center dropdown-toggle" id="navbarDropdown" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
          <p><%= current_user.first_name[0].upcase %></p>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", user_path(current_user.id), class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
      <div>
        <span id="navbar__welcome">WELCOME BACK, </span>
        <p id="sidebar__name"><%= current_user.first_name.downcase.capitalize %></p>
      </div>
    <% else %>
    <% end %>
  </div>

  <!-- DISPLAY BUTTON -->
  <% if user_signed_in? %>
    <div class="sidebar-primary-button">
      <%= render "shared/components/button", variant: "filled", label: "CREATE NEW TRIP", href: new_itinerary_path %>
    </div>
  <% else %>
    <div class="sidebar-primary-button">
      <%= render "shared/components/button", variant: "filled", label: "LOG IN", href:  new_user_session_path %>
    </div>
  <% end %>

  <!-- EXPLORE -->
  <% if current_page? root_path %>
    <li class='nav-item active-bar'>
  <% else %>
    <li class='nav-item nav-item-highlighht'>
  <% end %>
    <%= link_to "EXPLORE", root_path, class: "nav-link" %>
  </li>

  <!-- FIND A MATE -->
  <% if current_page? events_path %>
    <li class='nav-item active-bar'>
  <% else %>
    <li class='nav-item nav-item-highlighht'>
  <% end %>
    <%= link_to "FIND MATES", events_path, class: "nav-link" %>
  </li>

  <% if user_signed_in? %>
    <!-- TRAVEL PLANNER -->
    <% if current_page? user_itineraries_itineraries_path %>
      <li class='nav-item active-bar'>
    <% else %>
      <li class='nav-item nav-item-highlighht'>
    <% end %>
      <%= link_to "PLAN YOUR TRIP", user_itineraries_itineraries_path, class: "nav-link" %>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <!-- DASHBOARD -->
    <% if current_page? dashboard_path %>
      <li class='nav-item active-bar d-flex align-items-center'>
    <% else %>
      <li class='nav-item nav-item-highlighht' id='manage-your-trips-with-count'>
    <% end %>
      <%= link_to "MANAGE YOUR TRIPS", dashboard_path, class: "nav-link" %>
      <% if current_user %>
        <div class="badge-upcomings-count">
          <%= Event.upcomings(current_user) %>
        </div>
      <% end %>
    </li>
  <% end %>


<!-- SPECIFIC PAGES; CONSOLIDATED -->
  <!-- ACTVITIES -->
  <%# if current_page? activities_path %>
<!--     <li class='nav-item active-bar'>
 -->  <%# else %>
<!--     <li class='nav-item nav-item-highlighht'>
 -->  <%# end %>
    <%#= link_to "ACTIVITIES", activities_path, class: "nav-link" %>
<!--   </li>
 -->
  <!-- ITINERARY -->
  <%# if current_page? itineraries_path %>
<!--     <li class='nav-item active-bar'>
 -->  <%# else %>
<!--     <li class='nav-item nav-item-highlighht'>
 -->  <%# end %>
    <%#= link_to "ITINERARIES", itineraries_path, class: "nav-link" %>
<!--   </li>
 -->
  <!-- DESTINATIONS -->
  <%# if current_page? locations_path %>
<!--     <li class='nav-item active-bar'>
 -->  <%# else %>
<!--     <li class='nav-item nav-item-highlighht'>
 -->  <%# end %>
    <%#= link_to "DESTINATIONS", locations_path, class: "nav-link" %>
<!--   </li>
 -->
</ul>

