<ul class="nav flex-column bd-sidebar" id="sidebar">
  <div class="sidebar-primary-button">
    <%= render "shared/components/button", variant: "filled", label: "+ Make a Travel Plan", href: new_itinerary_path %>
  </div>
  <li class="nav-item-active">
    <%= link_to "DASHBOARD", dashboard_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "FIND A MATE", events_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "TRAVEL PLANNER", user_itineraries_itineraries_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "EXPLORE", pages_explore_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "- Explore: Activities", activities_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "- Explore: Events", events_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "- Explore: Itineraries", itineraries_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "- Explore: Locations", locations_path, class: "nav-link" %>
  </li>

</ul>
