<ul class="nav flex-column bd-sidebar" id="sidebar">
  <li class="nav-item">
    <%= link_to "Find A Mate", events_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Travel Planner", user_itineraries_itineraries_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Explore: Global", pages_explore_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "- Explore: Itineraries", itineraries_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "- Explore: Events", events_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "- Explore: Locations", locations_path, class: "nav-link" %>
  </li>
</ul>
