<ul class="nav flex-column bd-sidebar" id="sidebar">
  <%= link_to "TravelMates", root_path, class: "h4" %>
  <li class="nav-item">
    <%= link_to "Find A Mate", events_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Travel Planner", dashboard_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Explore", itineraries_path, class: "nav-link" %>
  </li>
</ul>
