
<div class="search__box">
  <h4>Looking for an event</h4>
  <%= render 'shared/search' %>
</div>

<div class="map">
  <%= render 'shared/map' %>
</div>


<div class="container__featured">
  <h4>Featured Events</h4>
    <div class="card__grid">
      <% @events.first(3).each do |event| %>
        <div class="card map-card p-2" style="width: 18rem;">
          <div class="card-body">
            <div class= "card-date-heart d-flex justify-content-between">
              <p class="card-text">
                <%= event.start_date.strftime("%d %b %Y") %>
              </p>
              <div data-event-id="<%= event.id %>" class="event-heart-icon">
                <%= render 'heart', event: event %>
              </div>
            </div>
            <h4 class="card-title">
              <%= event.title %>
            </h4>
            <p class="card-title">
              <i class="fas fa-map-marker-alt pr-1"></i>
              <%= event.location.city%>,<%= event.location.country %>
            </p>
            <div class="d-flex flex-row-reverse bd-highlight">
              <%= link_to "Mate Up", event_registration_path(event), class: "btn btn-outlined mt-3" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>



<div class="events__upcoming">
  <div class="card__grid">
      <% @events.each do |event| %>
      <div class="card map-card p-2" style="width: 18rem;">
        <div class="card-body">
          <div class= "card-date-heart d-flex justify-content-between">
            <p class="card-text">
              <%= event.start_date.strftime("%d %b %Y") %>
            </p>
            <div data-event-id="<%= event.id %>" class="event-heart-icon">
              <%= render 'heart', event: event %>
            </div>
          </div>
          <h4 class="card-title">
            <%= event.title %>
          </h4>
          <p class="card-title">
            <i class="fas fa-map-marker-alt pr-1"></i>
            <%= event.location.city%>,<%= event.location.country %>
          </p>
          <div class="d-flex flex-row-reverse bd-highlight">
            <%= link_to "Mate Up", event_registration_path(event), class: "btn btn-outlined mt-3" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
