<div class="container__featured">
  <div class="featured-title">
    <h2>UPCOMING EVENTS</h2>
  </div>
  <div>
    <%= render 'featured_events' %>
  </div>
</div>

<div>
  <%= render 'shared/search/search_events' %>
</div>

<div class="map">
  <%= render 'shared/map' %>
</div>

<div class="container__body">
  <div class="featured-title">
    <h2>CHECK OUT OTHER EVENTS</h2>
  </div>
  <div class="card__grid_x4">
    <% @all_events.each do |event| %>
      <div class="card map-card p-2" style="width: 18rem;">
        <div class="card-body">
          <div class= "card-date-heart d-flex justify-content-between">
            <p class="card-text">
              <%= event.start_date.strftime("%d %b %Y") %>
            </p>
            <div data-event-id="<%= event.id %>" class="event-heart-icon">
              <%= render 'heart', event: event %>
            </div>
          </div>
          <div class="event-card-info">
            <h2 class="card-title">
              <%= event.title %>
            </h2>
            <p class="card-title">
              <i class="fas fa-map-marker-alt pr-1"></i>
              <%= event.location.city%>, <%= event.location.country %>
            </p>
          </div>
          <div class="d-flex flex-row-reverse bd-highlight">
            <%= link_to "See More", itinerary_event_path(event.itinerary, event), class: "btn btn-outlined mt-3" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="page-bottom-spacer"></div>
