<div>
  <%= render 'shared/search/search_events' %>
</div>


<div class="container__body">
  <div class="featured-title">
    <h2>CHECK OUT OTHER EVENTS</h2>
  </div>


    <% @events.group_by { |e| e[:start_date] }.each do |eventgroup| %>
    <h6><%= eventgroup[0].strftime("%d %b %Y") %></h6>
      <% eventgroup[1].each do |event| %>
        <% if event.start_date >= Date.today %>
          <div class="card reminder-card-with-location d-flex">
            <div class="reminder-text d-flex">
              <div class="reminder-time pt-4 pl-4 pb-4">
                <%= event.start_date.strftime("%l:%M %P") %>
              </div>
              <div class="reminder-details p-4">
                <h5><%= event.title %></h5>
                <div class="reminder-travel-plan"><p><%= event.itinerary.title %></p></div>
                <div class="reminder-location d-flex">
                  <i class="fas fa-map-marker-alt pr-2 pt-1"></i>
                  <div class="reminder-address">
                    <p><%= event.location.city %>, <%= event.location.country %></p>
                  </div>
                </div>
              </div>
              <div class="reminder-map">
                <% if event.photo.present? %>
                  <%= cl_image_tag event.photo, class: "photo-card-oblong"%>
                <% else %>
                  <% if event.location.photo.present? %>
                    <%= image_tag event.location.photo, class: "photo-card" %>
                  <% else %>
                    <%= image_tag ("https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1647&q=80"), class: "photo-card" %>
                   <% end %>
                <% end %>
              </div>
            </div>
            <div class="event-pill-expandable reminder-organiser-avatar">
              <%= image_tag event.itinerary.user.avatar, class: "avatar-small" %>
              <div class="event-pill-text">
                <p><%= event.itinerary.user.first_name %></p>
              </div>
            </div>
            <%= link_to "", itinerary_path(event.itinerary), class: 'make-card-clickable'%>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>

<div class="page-bottom-spacer"></div>
<div class="map">
  <%= render 'shared/map' %>
</div>
