<!-- TITLE -->
<div class="main-title-width-reduced">
  <h1>Add an event</h1>
  <p>Draft the most amazing description to attract fellow travellers to join</p>
  <div class="breadcrumb">
    <%= link_to itinerary_path(@itinerary) do %>
      <i class="fas fa-angle-left"></i>
      Back
    <% end %>
  </div>
</div>

<!-- FORMS -->
<div class="form-container d-flex flex-column">
  <div>
    <ul class="stepper">
      <!-- FORM SECTION 1: BASIC EVENT DETAILS -->
      <li class="step step-connection-line">
        <div class="step-title">
          <h5>Basic details</h5>
          <div class="step-number">
            1
          </div>
        </div>
        <div class="step-content step-content-active">
        <%= simple_form_for [@itinerary, @event] do |f|  %>
          <!-- NAME -->
          <%= f.input :title,
            label: "Event name",
            placeholder: 'Give a name to your amazing event',
            error: 'Please provide an event name',
            label_html: { class: "form-title" }
            %>
          <%= f.input :start_date,
            as: :datetime, order: [:day, :month, :year, :hour, :minute],
            required: true, start_year: Date.today.year,
            error: 'Start date can not be in the past',
            label_html: { class: "form-title" }
            %>
          <%= f.input :end_date,
            as: :datetime, order: [:day, :month, :year, :hour, :minute],
            required: true, start_year: Date.today.year,
            error: 'End date can not be earlier than start date',
            label_html: { class: "form-title" }
            %>
          <div class="step-action">
            <%= render "shared/components/button", variant: "outlined", label: "Continue", href: "#" %>
          </div>
        </div>
      </li>
      <!-- FORM SECTION 2: EXTRA INFO -->
      <li class="step step-connection-line">
        <div class="step-title">
          <h5>Add some colour to your event</h5>
          <div class="step-number">
            2
          </div>
        </div>
        <div class="step-content">
          <div class="d-inline-flex w-100">
            <!-- LOCATION -->
              <!-- Adding location geocoder -->
              <%= f.input :location,
                label_html: { class: "form-title" },
                wrapper_html: { class: "form-flex-1 mr-2" }
                %>
              <%#= f.collection_select :location, Location.all, :id, :city %>
            <!-- ACTIVITY -->
            <%= f.input :activity_id,
              collection: Activity.all,
              label_method: :title,
              value_method: :id,
              label: "Activity",
              label_html: { class: "form-title" },
              wrapper_html: { class: "form-flex-1" },
              include_blank: false
              %>
            <%= f.input :max_spots,
              error: 'Please provide number of mates required',
              label: "Number of spots available",
              label_html: { class: "form-title" },
              wrapper_html: { class: "form-flex-1 ml-2" },
              input_html: {
                min: '0',
                step: '1'
              }
              %>
          </div>

          <%= f.input :description, error: 'Please provide a description',
            label_html: { class: "form-title" },
            placeholder: 'Describe what you are planning to do',
            input_html: {
              class: "form-border",
              rows: 3
              } %>
          <div class="step-action">
            <%= render "shared/components/button", variant: "outlined", label: "Continue", href: "#" %>
          </div>
        </div>
      </li>
      <!-- FORM SECTION 3: PHOTOS -->
        <li class="step step-connection-line">
          <div class="step-title">
            <h5>Upload photos</h5>
            <div class="step-number">
              3
            </div>
          </div>
          <div class="step-content">
            PHOTO UPLOAD
            <div class="step-action">
              <%= render "shared/components/button", variant: "outlined", label: "Continue", href: "#" %>
            </div>
          </div>
        </li>
        <%= f.submit "Save and create", class: 'btn btn-filled mr-0 d-flex flex-row-reverse' %>
        <% end %>
      </ul>
  </div>
</div>

<div class="page-bottom-spacer"></div>
