<div class="page-container">
  <!-- EVENT TITLE -->
  <div class="main-title">
    <h1><%= @event.title %></h1>
    <div class="breadcrumb">
      <%= link_to request.referer.present? ? request.referer : default_path do %>
        <i class="fas fa-angle-left"></i>
        Back
      <% end %>
    </div>
  </div>

  <div class="container__dashboard">
    <div class="event-description-side">
      <!-- Event Description Placeholder -->
      <div class="event-description-block">
        <% if @event.photo.present? %>
          <div class="event-banner-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= image_path @event.photo %>')">
          </div>
        <% else %>
          <div class="event-banner-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= cl_image_path @event.activity.photo %>')">
          </div>
        <% end %>
        <!-- Placeholder! Carousel of Event Images -->
        <h4>Event description</h4>
        <p><%= @event.description %></p>
        <div class="">
          <p>
            <i class="far fa-calendar-alt pr-1"></i>
            <%= @event.start_date.strftime("%d %b %Y") %> -
            <%= @event.end_date.strftime("%d %b %Y") %>
          </p>
          <p>
            <i class="fas fa-user-friends pr-1"></i>
            <%= pluralize(@event.max_spots, "mate") %> needed
          </p>
          <p>
            <i class="fas fa-map-marker-alt pr-1"></i>
            <%= @event.location.city %>, <%= @event.location.country %>
          </p>
        </div>
      </div>
      <div class="horizontal-divider"></div>
      <h4>About the organiser</h4>
      <div>
        <div class="organiser-info-header d-flex mb-3">

          <!-- Organiser avatar -->
          <div><%= image_tag @event.itinerary.user.avatar, class: "avatar-xlarge" %></div>
          <!-- Organiser info -->
          <div class="organiser-info d-flex align-items-center justify-content-between">
            <div class="organiser-details ml-5">
              <!-- Organiser details -->
              <p>
                <strong><%= @event.itinerary.user.first_name %> <%= @event.itinerary.user.last_name %></strong>
              </p>
              <p><%= pluralize(@event.itinerary.user.age, "year") %> old</p>
              <p><%= @event.itinerary.user.gender %></p>
            </div>
            <!-- Organiser rating -->
            <div class="organiser-rating-box">
              <div class="rating-section d-flex">
                <div class="organiser-rating pr-2">4</div>
                <span class="total-rating-score">/5</span>
              </div>
              <div>
                <% 4.to_i.times do  %>
                  <span class="review-star"><i class="fas fa-star solid"></i></span>
                <% end %>
                <% 1.to_i.times do  %>
                  <span class="blank-star"><i class="far fa-star regular"></i></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="organiser-about-me">
          <%= @event.itinerary.user.description  %>
        </div>
      </div>
      <div class="horizontal-divider"></div>
      <div>
        <h6>Reviews from previous travel mates</h6>
      </div>
    </div>

    <div class="event-description-side">

    <div class="d-flex flex-row-reverse bd-highlight">
      <!-- <div> -->
        <%#= render "events/event_registration" %>
      <!-- </div> -->

    </div>
      <div>
        <div>
          <!-- SIDE CARD -->
          <div>
            <!-- Side title section -->
            <% if @event.itinerary.user == current_user %>
              <%= render 'event_registration_owner' %>
            <% else %>
              <%= render 'event_registration' %>
            <% end %>

            <!-- Side bottom section -->
            <div class="event-side-bottom">
              <div id="event-date-time" class="d-flex">
                <div id="event-date-card">
                  <div id="event-day-text">
                    <%= @event.start_date.strftime("%d") %>
                  </div>
                  <div id="event-month-text">
                    <%= @event.start_date.strftime("%b") %>
                  </div>
                </div>
                <div id="event-date-details" class="ml-5 align-items-center">
                  <div><%= @event.start_date.strftime("%A, %d %b %Y") %></div>
                  <div>
                    <%= @event.start_time.strftime("%I:%M %p") %> -
                    <%= @event.end_time.strftime("%I:%M %p") %>
                  </div>
                  <div id="event-location">
                    <i class="fas fa-map-marker-alt event-location-icon"></i>
                    <%= @event.location.city %>, <%= @event.location.country %>
                  </div>
                </div>
              </div>
              <div id="event-map">
                <div class="map">
                  <%= render 'shared/map' %>
                </div>
              </div>
            </div>
            <div id="remaining-spots" class="d-flex align-items-center justify-content-between">
              <div class="mr-3">
                <% if @event.spots_left == 0 %>
                  "All spots taken"
                <% else %>
                  <%= pluralize(@event.spots_left, "spot") %> remaining
                <% end %>
              </div>
              <div>
                <%= image_tag @event.itinerary.user.avatar, class: "avatar" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







