<div class="page-container">
  <div class="featured-title">
    <h2>MOST FAVOURITED TRAVEL PLANS</h2>
  </div>
  <div class="featured-title">
    <h2>TOP 10 LOCATIONS</h2>
  </div>

  <div class="">
    <!-- Card Carousel -->
    <div class="card__grid">
      <% @locations.sort_by_events.each do |location| %>
        <div class="card map-card" style="width: 24rem;">
          <%= render "shared/mapstatic" %>
          <div class="card-body px-4 pb-4 pt-0">
            <h4 class="card-title">
              <i class="fas fa-map-marker-alt pr-1"></i>
              <%= location.city %>, <%= location.country %>
            </h4>
            <div id="map-card-info">
              <i class="fas fa-info-circle"></i>
                <!-- Number of events in this location coming up -->
                <%= Event.all.select{|e| e.location_id == location.id}.map.count %> travel mates going here
            </div>
          </div>
          <%= link_to "", location_path(location), class: "make-card-clickable" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="featured-title">
    <h2>MOST PLANNED ACTIVITIES</h2>
  </div>
</div>
