<div class="page-container">

  <!-- LOCATIONS -->
  <div class="featured-title">
    <h2>DISCOVER DESTINATIONS</h2>
  </div>
  <div class="">
    <!-- Card Carousel -->
    <div class="card__grid">
      <% @locations.sort_by_events.each do |location| %>
        <div class="map-card">
          <%= render "shared/mapstatic" %>
          <div class="card-body px-4 pb-4 pt-0">
            <h2 class="card-title">
              <i class="fas fa-map-marker-alt pr-1"></i>
              <%= location.city %>, <%= location.country %>
            </h2>
            <div class="map-card-info">
              <i class="fas fa-info-circle"></i>
                <!-- Number of events in this location coming up -->
                <%= Event.all.select{|e| e.location_id == location.id}.map.count %> travel mates going here
            </div>
          </div>
          <%= link_to "", location_path(location), class: "make-card-clickable" %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- ACTIVITIES -->
  <div class="featured-title">
    <h2>DO MORE THINGS</h2>
  </div>

  <div class="card__grid">
    <% @activities.most_popular_activities[0..2].each do |activity| %>
      <div
        class="photo-card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3),
          rgba(0,0,0,0.3)),
          url('<%= image_path activity[1].photo %>')">
        <%= activity[1].title %>
        <%= link_to "", activity_path(activity[1]), class: "make-card-clickable" %>
      </div>
    <% end %>
  </div>

  <!-- ITINERARY -->
  <div class="featured-title">
    <h2>GET INSPIRED BY OTHERS</h2>
  </div>
  <div class="">
    <!-- Card Carousel (?) -->
    <div class="card__grid">
      <% @itineraries.most_popular_itineraries[0..5].each do |itinerary| %>
        <div class="card map-card">
          <div>
            <%= render "shared/mapstatic" %>
          </div>
          <div class="card-body px-4 pb-4 pt-0">
            <div id="travel-plan-card-title" class="card-title d-flex justify-content-between">
              <div><%= itinerary[1].total_time %> day plan</div>
                <div data-itinerary-id="<%= itinerary[1].id %>" class="itinerary-heart-icon">
                   <%= render 'itineraries/heart', itinerary: itinerary[1] %>
              </div>
            </div>
            <h2 class="card-title">
              <%= itinerary[1].title %>
            </h2>
<!--             <span class="tag-filled">Scuba diving</span>
            <span class="tag-filled">Shark</span>
            <span class="tag-filled">Amazing</span>
            <span class="tag-filled">Scuba diving</span>
            <span class="tag-filled">Shark</span>
            <span class="tag-filled">Amazing</span> -->
          </div>
          <%= link_to "", itinerary_path(itinerary[1]), class: "make-card-clickable" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
