<strong>Followers <%= @followers.count %></strong><br><br>

<% @followers.each do |follower| %>
<div class="data-table">
    <div class="data-header">
      <div class="data-header-cell">People</div>
      <div class="data-header-cell-growable">Since</div>
    </div>
    <div class="data-rows">
      <div class="data-content-cell">
        <img src="/assets/<%= @users.find(follower.follower_id).avatar %>" class="avatar"></img>
        <%= @users.find(follower.follower_id).first_name%>
        <%= @users.find(follower.follower_id).last_name %>
      </div>
      <div class="data-content-cell-growable">
        <%= follower.created_at.strftime("%d %b %Y") %>
      </div>
      <div class="data-content-cell-small">
      </div>

    </div>
  </div>
<% end %>

<strong>Followings <%= @followings.count %></strong><br><br>
<% @followings.each do |following| %>
  <div class="data-table">
    <div class="data-header">
      <div class="data-header-cell">People</div>
      <div class="data-content-cell-growable">Folowing since</div>
    </div>
    <div class="data-rows">
      <div class="data-content-cell">
        <img src="/assets/<%= @users.find(following.following_id).avatar %>" class="avatar"></img>
        <%= @users.find(following.following_id).first_name%>
        <%= @users.find(following.following_id).last_name %>
      </div>
      <div class="data-content-cell-growable">
        <%= following.created_at.strftime("%d %b %Y") %>
      </div>
      <div data-user-id="<%= @users.find(following.following_id).id %>" class="user-heart-icon">
        <%= link_to unfollow_user_path(@users.find(following.following_id)), method: :post, remote: true do %>
        <i class="fas fa-heart"></i>
        <% redirect_to dashboard#who %>
      <% end %>
      </div>

    </div>
  </div>
<% end %>
