<strong>Followers <%= @followers.count %></strong><br><br>

<% @followers.each do |follower| %>
<div class="data-table">
    <div class="data-header">
      <div class="data-header-cell">People</div>
      <div class="data-header-cell-growable">Since</div>
    </div>
    <div class="data-rows">
      <div class="data-content-cell">
        <img src="/assets/<%= @users.find(follower.follower_id).avatar %>" class="avatar"></img>
        <%= @users.find(follower.follower_id).first_name%>
        <%= @users.find(follower.follower_id).last_name %>
      </div>
      <div class="data-content-cell-growable">
        <%= follower.created_at.strftime("%d %b %Y") %>
      </div>
      <div class="data-content-cell-small">
      </div>

    </div>
  </div>
<% end %>

<div class='user-followings'>
  <%= render 'followings', users: @users, followings: @followings %>
</div>
