<% @events.each do |event| %>
  <% if event.solo? == false %>

    <% event.list_of_mates.each do |regis| %>
      <% if regis.status.present? %>

        <div class="data-table listing">
          <div class="data-header">
            <div class="data-header-cell">Potential Mate</div>
            <div class="data-header-cell">Event</div>
            <div class="data-header-cell">Status</div>
          </div>
          <div class="data-rows">
            <div class="data-content-cell">
              <%= image_tag regis.user.avatar, class: "avatar" %>
              <%= regis.user.username %>
              <p><%= regis.user.first_name %> <%= regis.user.last_name %></p>
            </div>
            <div class="data-content-cell">
              <div class="reminder-details"><%= regis.event.title %></div>
              <p><%= regis.event.start_date.strftime("%d %b %Y") %> - <%= regis.event.end_date.strftime("%d %b %Y") %> </p>
            </div>
            <div class="data-content-cell">
            <%= simple_form_for [regis.event.itinerary, regis.event, regis] do |f|  %>
              <!-- INPUT: START DATE -->
              <%= f.input :status, collection: EventRegistration.statuses.keys, label_html: { class: "form-title" }, label: false %>
              <div class="data-content-cell-small">
                <%= f.submit "Save", class: "btn btn-outlined", method: :patch %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <span><h5>You have no open events!</h5></span>
      <% end %>
    <% end %>
  <% else %>
  <% end %>
<% end %>



