
<% @user.itineraries.each do |itinerary| %>
  <div class="container__dashboard">
    <div class="display__itinerary">
      <h3><%= itinerary.title %></h3>
      <% itinerary.events.each do |event| %>
        <% if event.start_date >= Date.today %>
          <div class="card reminder-card-with-location d-flex">
            <div class="reminder-text d-flex">
              <div class="reminder-time p-4">
                <%= event.start_date.strftime("%d %b %Y") %>
              </div>
              <div class="reminder-details p-4">
                <h5><%= event.title %></h5>
                <div class="reminder-travel-plan"><p><%= itinerary.title %></p></div>
                <div class="reminder-location d-flex">
                  <i class="fas fa-map-marker-alt pr-2 pt-1"></i>
                  <div class="reminder-address">
                    <p>Queen Victoria Market</p>
                    <p><%= event.location.city %><%= event.location.country %></p>
                  </div>
                </div>
              </div>
              <div class="reminder-map">
                <%= render "shared/mapstatic" %>
              </div>
            </div>
            <div class="event-pill-expandable reminder-organiser-avatar">
              <%= image_tag "captain_cat.jpg", class: "avatar-small" %>
              <div class="event-pill-text">
                <p><%= event.itinerary.user.first_name %></p>
              </div>
            </div>
            <%= link_to "", itinerary_path(itinerary), class: 'make-card-clickable'%>
          </div>
        <% end %>
      <% end %>
    </div>
  <div class="dash__calendar">
    <%= render 'calendar_events' %>
  </div>
  </div>
<% end %>


