
<% @user.itineraries.each do |itinerary| %>
  <h3><%= itinerary.title %></h3>
  <% itinerary.events.each do |event| %>
  <div class="card__event__date">
    <%= "#{Date::MONTHNAMES[event.start_date.month]} #{event.start_date.day}, #{event.start_date.year}" %>
  </div>
  <div class="card__event d-flex flex-column">
    <div class="card__time">
      <p>7:00 pm</p>
    </div>
    <div class="card__content">
      <div class="card__content__info">
        <h4><%= event.title %></h4>
        <p><%= event.description %></p>
        <div class="card__content__location">
          <p><%= event.location.city %></p>
          <p><%= event.location.country %></p>
        </div>
      </div>
      <div class="card__content__image">
        <%= image_tag "captain_cat.jpg", class: "avatar" %>
      </div>
    </div>
  </div>

  <% end %>
<% end %>

