<div class="container__featured">
  <div class="featured-title">
    <h2>TOP ACTIVITIES</h2>
  </div>
    <div class="card__grid">
      <% @activities[0..2].each do |activity| %>
        <div
          class="photo-card"
          style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url('<%= image_path activity.photo %>')">
          <%= activity.title %>
          <%= link_to "", activity_path(activity), class: "make-card-clickable" %>
        </div>
      <% end %>
    </div>
</div>
<div class="search__box">
  <%= render 'shared/search/search_activities' %>
</div>


<div class="page-container">
  <div class="events__upcoming">
    <div class="card__grid">
      <% @activities[3..@activities.count].each do |activity| %>
        <div
          class="photo-card"
          style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url('<%= image_path activity.photo %>')">
          <%= activity.title %>
          <%= link_to "", activity_path(activity), class: "make-card-clickable" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
