<div class="banner__image">

</div>

<h5>Upcoming <%= @activity.title %> Inspiration</h5>
<div class="events__upcoming">
  <div class="card__grid">
      <% @events.each do |event| %>
      <div class="card__event">
        <div class="card__event__content">
          <p><%= event.start_date.strftime("%d %b %Y") %></p>
          <h6><%= event.title %></h6>
          <p><%= event.location.city%>,<%= event.location.country %></p>
        </div>
        <div class="card__event__button">
          <p>button placeholder</p>
        </div>

      </div>
    <% end %>
  </div>
</div>
