<div id="user_block">
  <div class="user-info d-flex justify-space-around">
    <div>
      <% if @itinerary.user.avatar.present? %>
        <%= image_tag @itinerary.user.avatar, class: "avatar-large-itinerary" %>
      <% else %>
        <div class="no-image-avatar-itinerary d-flex align-items-center justify-content-center">
          <p><%= current_user.first_name[0].upcase %></p>
        </div>
      <% end %>
    </div>
    <div class="ml-3 mb-3">
      <p class="mb-0">
        <strong>
          <%= @itinerary.user.first_name %>
          <%= @itinerary.user.last_name %>
        </strong>
      </p>
      <p class="mb-0">
        <% if @itinerary.user.date_of_birth.nil? %>
        <% else %>
          <%= @itinerary.user.age %>
          <%= @itinerary.user.gender.downcase %>
        <% end %>
      </p>
    </div>
  </div>
  <p class="mb-0" style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;"><%= @itinerary.user.description %></p>
</div>
