
<div class="search__box">
  <h4>Search for locations</h4>
  <%= render 'shared/search' %>
</div>

<h4>Top 10 Locations</h4>


<div>
  <h4>Destination Discovery</h4>
  <% @locations.each do |location| %>
    <div class="card-detail d-flex justify-content-between">
      <h6><%= location.city %>, <%= location.country %></h6>
        <ul><%= Event.all.select{|e| e.location_id == location.id}.map.count %></ul>
        <ul><%= link_to "VIEW", location_path(location), class: 'btn btn-primary'%></ul>
    </div>
  <% end %>
</div>
