<div>
  <%= render "shared/components/button", variant: "filled", label: "+ Make a Travel Plan", href: new_itinerary_path %>
</div>

<div class="map">
  <%= render 'shared/map' %>
</div>

<div class="top__ten">
  <div class="container__featured">
  <h4>10 Top Activities in <%= @location.city %></h4>
  <!-- Carousel Top 10 -->
    <div class="card__grid">
      <% @location.top_ten_activities.each do |activity| %>
        <div
          class="photo-card"
          style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url('<%= image_path activity[0].photo %>')">
          <%= activity[0].title %>
          <%= link_to "", activity_path(activity[0]), class: "make-card-clickable" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container__dashboard">
  <div class="display__itinerary">
    <h4>Upcoming Events in <%= @location.city %></h4>
    <% @location.location_events.each do |event| %>
      <!-- Events must be in the future to be displayed -->
      <% if event.start_date >= Date.today %>

        <div class="card reminder-card-with-location d-flex">
          <div class="reminder-text d-flex">
            <div class="reminder-time p-4">
              <%= event.start_date.strftime("%l:%M %P") %> | <%= event.start_date.strftime("%d %b %Y") %>
            </div>
            <div class="reminder-details p-4">
              <h5><%= event.title %></h5>
              <div class="reminder-travel-plan"><p><%= event.itinerary.title %></p></div>
            </div>
          </div>
          <div class="event-pill-expandable reminder-organiser-avatar">
            <div class="event-pill-inner">
              <%= image_tag event.itinerary.user.avatar, class: "avatar-small" %>
              <div class="event-pill-text">
                <p><%= event.itinerary.user.first_name %></p>
              </div>
            </div>
          </div>
          <%= link_to "", itinerary_event_path(event.itinerary, event), class: "make-card-clickable" %>
        </div>

      <% end %>
    <% end %>
  </div>
  <div class="dash__calendar">
    <%= render 'calendar_locations' %>
  </div>
</div>
