<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TravelMates</title>
    <meta name="description" content="Combine the best of solo and group travel. Find travel inspiration for itineraries, activities, locations, and connect with other solo travelers.">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div id="container-wrapper">
      <%= render 'shared/sidebar' %>
      <!-- For Kevin - the empty div class might not be required for the hero page -->
      <div class="empty"></div>
      <div class="container__main">
        <%= yield %>
      </div>
      <%#= render 'shared/footer' %>
    </div>
    <%= render 'shared/flashes' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
